{% extends "steamapp/base.html" %}
{% block content %}
<h1>
    {{ achievement.displayname }}
</h1>

<h2>Apiname</h2>
<p>
    {{ achievement.apiname }}<br/>
</p>

<h2>Game</h2>
<p>
Appid: {{achievement.appid.appid}}
</p>
<p>
Name:
<a href="{% url 'steamapp:game_detail' achievement.appid.appid 'html' %}">{{ achievement.appid.name}}</a>
</p>

<h2>Description</h2>
<p>
    {{ achievement.description }}<br/>
</p>

<h2> Achievement registered for </h2>

{% for ownach in achievement.achievementsownedby.all %}
    <a href="{% url 'steamapp:ownach_detail' ownach.id 'html' %}">
        {{ ownach.steamid.nickname }}</a><br/>
{% empty %}<p>This achievement is not registered in any player</p>
{% endfor %}


{% endblock %}
