{% extends "steamapp/base.html" %}
{% block content %}
<h1> <a href="{% url 'steamapp:achievement_list' %}"> List of Achievements </a> > Achievement: </h1>
<h1>
    {{ achievement.displayname }}
    {% if user == achievement.user %}
        (<a href="{% url 'steamapp:achievement_edit' achievement.id %}">edit</a>)
    {% endif %}

    {% if user == achievement.user %}
        (<a href="{% url 'steamapp:achievement_delete' achievement.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Apiname</h2>
<p>
    {{ achievement.apiname }}<br/>
</p>

<h2>Game</h2>
<p>
Appid: {{achievement.appid.appid}}
</p>
<p>
Name:
<a href="{% url 'steamapp:game_detail' achievement.appid.appid %}">{{ achievement.appid.name}}</a>
</p>

<h2>Description</h2>
<p>
    {{ achievement.description }}<br/>
</p>

<h2> Achievement registered for
    {% if user.is_authenticated %}
        (<a href="{% url 'steamapp:ownedachievementach_create' achievement.id %}">add</a>)
    {% endif %}
</h2>

{% for ownach in achievement.achievementsownedby.all %}
    <a href="{% url 'steamapp:ownedachievement_detail' ownach.id %}">
        {{ ownach.steamid.nickname }}</a><br/>
{% empty %}<p>This achievement is not registered in any player</p>
{% endfor %}


{% endblock %}
