{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Steamapp by CSL &amp; ACR{% endblock %}</title>
</head>

<body>

<div id="header">
  <h2 align="right">
    {% block header %}
        {% if user.username %}<p>User {{ user.username }}</p>
        {% else %}<p><a href="/login/">Sign in</a></p>{% endif %}
    {% endblock %}
  </h2>
</div>

<div id="sidebar">
  <h2 align="left">
    {% block sidebar %}<ul><li><a href="/steamapp">Home</a></li></ul>{% endblock %}
    <br/>
  </h2>
</div>

<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>

<div id="footer">{% block footer %}Powered by CSL &amp; ACR{% endblock %}</div>
</body>

</html>
