{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <title>{% block title %}Steamapp by CSL &amp; ACR{% endblock %}</title>
</head>

<body>

<div id="header">
  <h2 align="right">
    {% block header %}
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}  <a href="{% url 'steamapp:logout' %}?next={{request.path}}"> [Log out]</a></p>
        {% else %}
            <p>Welcome, Guest <a href="{% url 'steamapp:login' %}?next={{request.path}}"> [Log in]</a></p>

        {% endif %}
    {% endblock %}
  </h2>
</div>

<div id="sidebar">
  <h2 align="left">
    {% block sidebar %}<ul><li><a href="/steamapp">Home</a></li></ul>{% endblock %}
    <br/>
  </h2>
</div>

<div id="content" align="center">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>

<div id="footer">{% block footer %}Powered by CSL &amp; ACR{% endblock %}</div>
</body>

</html>
