{% extends "steamapp/base.html" %}
{% load staticfiles %}

<div id="sidebar">
  <h2 align="left">
    {% block sidebar %}<ul><li><a href="/steamapp">Home</a></li></ul>{% endblock %}
    <br/>
  </h2>
</div>

{% block content %}
  <script>
        $(function() {
            $.getJSON("{% static "countries.json" %}", {}, function (countries) {
                $("#id_country").autocomplete({
                    source: countries
                  });
            });
        });
    </script>

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}
