{% extends "steamapp/base.html" %}
{% block content %}
<h1>
    {{ game.name }}
</h1>

<h2>Appid</h2>
<p>
    {{ game.appid }}<br/>
</p>

<h2> Game Achievements </h2>

{% for achievement in game.achievements.all %}
    <a href="{% url 'steamapp:achievement_detail' achievement.id 'html' %}">
        {{ achievement.displayname }}</a><br/>
{% empty %}<p>This game either does not have achievements or have but not registered</p>
{% endfor %}


<h2> Game Owned by </h2>

{% for ownedgame in game.gamesownedby.all %}
    <a href="{% url 'steamapp:ownedgame_detail' ownedgame.id 'html' %}">
        {{ ownedgame.nickname }}</a><br/>
{% empty %}<p>This game is not owned for any user</p>
{% endfor %}

{% endblock %}
