{% extends "steamapp/base.html" %}
{% block title %}Steamapp - {{game.name }}{% endblock %}

{% block content %}

<div id="sidebar">
  <h2 align="left">
    {% block sidebar %}<ul><li><a href="/steamapp">Home</a></li></ul>{% endblock %}
    <br/>
  </h2>
</div>


<h1> <a href="{% url 'steamapp:game_list' %}"> List of Games </a> > Game: </h1>


<span vocab="http://schema.org/" typeof="VideoGame">
<h1>
    <span property="name">{{ game.name }}</span>
    <span property="applicationCategory" content="Steam"> </span>
    <span property="description" content="Steam video game"> </span>
    <span property="genre" content="No specified"> </span>
    <span rel="offers">
      <span typeof="Offer">
        <span property="name" content="Offer"> </span>
        <span property="price" content="0.00"> </span>
        <span property="priceCurrency" content="Euros"> </span>
      </span>
    </span>
    <span property="operatingSystem" content="For sure Windows, maybe also Linux and Mac"> </span>
    <span property="sameAs" content="http://store.steampowered.com/"> </span>
    <span property="url" content="http://store.steampowered.com/"> </span>

    {% if user == game.user %}
        (<a href="{% url 'steamapp:game_edit' game.appid %}">edit</a>)
    {% endif %}

    {% if user == game.user %}
        (<a href="{% url 'steamapp:game_delete' game.appid %}">delete</a>)
    {% endif %}

</h1>

<h2>Appid</h2>
    <p>
    {{ game.appid }}
    </p>


<h2>Reviews
    {% if user.is_authenticated %}
        (<a href="{% url 'steamapp:review_create' game.appid %}">add</a>)
    {% endif %}
</h2>

{% if game.gamereview_set.all|length > 0 %}
<span rel="aggregateRating">
    <span typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ game.averageRating|stringformat:".1f" }} </span>
        {% with game.gamereview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}

    </span>
</span>



<span rel="review">
    {% for review in game.gamereview_set.all %}
      <span typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue" content="1.5">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="datePublished" content="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</span></p>
        </span>
        <br/>
    {% endfor %}
  {% endif %}
</span>


<h2> Game Achievements
    {% if user.is_authenticated %}
        (<a href="{% url 'steamapp:achievementgame_create' game.appid %}">add</a>)
    {% endif %}
</h2>

{% for achievement in game.achievements.all %}
    <a href="{% url 'steamapp:achievement_detail' achievement.id %}">
        {{ achievement.displayname }}</a><br/>
{% empty %}<p>This game either does not have achievements or have but not registered</p>
{% endfor %}


<h2> Game Owned by
    {% if user.is_authenticated %}
        (<a href="{% url 'steamapp:ownedgamegame_create' game.appid %}">add</a>)
    {% endif %}
</h2>

{% for ownedgame in game.gamesownedby.all %}
    <a href="{% url 'steamapp:ownedgame_detail' ownedgame.id %}">
        {{ ownedgame.nickname }}</a><br/>
{% empty %}<p>This game is not owned for any user</p>
{% endfor %}

{% endblock %}
