{% extends "steamapp/base.html" %}
{% block content %}
<h1>
<p>
<a href="{% url 'steamapp:game_detail' ownedgame.appid.appid %}">{{ ownedgame.appid.name}}</a>
Owned by
<a href="{% url 'steamapp:player_detail' ownedgame.steamid.steamid %}">{{ ownedgame.steamid.nickname }}</a></p>
</h1>

<h2>Steam id 64 bits</h2>
<p>
    {{ ownedgame.steamid.steamid }}<br/>
</p>

<h2>Appid</h2>
<p>
    {{ ownedgame.appid.appid }}<br/>
</p>

<h2>Time played in minutes</h2>
<p>
    {{ ownedgame.timeplayed_forever }}<br/>
</p>


{% endblock %}
