{% extends "steamapp/base.html" %}
{% block content %}
<h1>
    <a href="{% url 'steamapp:game_detail' ownedgame.appid.appid %}">{{ ownedgame.gamename}}</a>
    Owned by
    <a href="{% url 'steamapp:player_detail' ownedgame.steamid.steamid %}">{{ ownedgame.nickname }}</a>

    {% if user == ownedgame.user %}
        (<a href="{% url 'steamapp:ownedgame_edit' ownedgame.id %}">edit</a>)
    {% endif %}

    {% if user == ownedgame.user %}
        (<a href="{% url 'steamapp:ownedgame_delete' ownedgame.id %}">delete</a>)
    {% endif %}
</h1>

<h2>Steam id 64 bits</h2>
<p>
    {{ ownedgame.steamid.steamid }}<br/>
</p>

<h2>Appid</h2>
<p>
    {{ ownedgame.appid.appid }}<br/>
</p>

<h2>Time played in minutes</h2>
<p>
    {{ ownedgame.timeplayed_forever }}<br/>
</p>


{% endblock %}
