{% extends "steamapp/base.html" %}
{%  block  title  %}Player - {{  player.nickname  }} {%  endblock  %}
{% block content %}

<div id="sidebar">
<h2 align="left">
    {% block sidebar %}
    <ul><li>
        <a href="/steamapp">Home </a> >
        <a href="{% url 'steamapp:player_list' %}"> List of Players </a> > Player:
    </li></ul>
    {% endblock %}
</h2>
</div>

<span vocab="http://schema.org/"  typeof="Person">

<h1>
    <span property="name"> {{ player.nickname }} </span>

    {% if user == player.user %}
        (<a href="{% url 'steamapp:player_edit' player.steamid %}">edit</a>)
    {% endif %}

    {% if user == player.user %}
        (<a href="{% url 'steamapp:player_delete' player.steamid %}">delete</a>)
    {% endif %}
    </span>
</h1>

<h2>
    <span title="steamid"> Steam ID 64 bits </span>
</h2>

<p>
    <span property="taxID"> {{ player.steamid }} </span>
</p>

<h2>
    <span title="profile-url"> Profile URL </span>
</h2>

<p>
    <span property="url"> {{ player.profileurl }} </span>
</p>

<h2>
    <span title="profile-privacy"> Privacy </span>
</h2>

<p>
    {{ player.privacy }}
</p>

<h2>
    <span title="country"> Country </span>
</h2>

<p>
    <span property="nationality"> {{ player.country }} </span>
</p>

<h2>
    <span title="last-log"> Last log (Unix Time) </span>
</h2>

<p>
    {{ player.lastlog }}
</p>

<h2> Player Games
    {% if user.is_authenticated %}(<a href="{% url 'steamapp:ownedgameplayer_create' player.steamid %}">add</a>){% endif %}
</h2>

  {% for ownedgame in player.ownedgames.all %}
      <a href="{% url 'steamapp:ownedgame_detail' ownedgame.id %}">
        {{ ownedgame.gamename }}</a><br/>
  {% empty %}<p>Either no games owned or private profile.</p>
  {% endfor %}


<h2> Player Achievements
    {% if user.is_authenticated %}(<a href="{% url 'steamapp:ownedachievementplayer_create' player.steamid  %}">add</a>){% endif %}
</h2>

  {% for ownach in player.ownedachievements.all %}
      <a href="{% url 'steamapp:ownedachievement_detail' ownach.id %}">
          {{ ownach.achid.displayname }}</a><br/>
  {% empty %}<p>This player has not achievements registered</p>
  {% endfor %}


{% endblock %}
