{% extends "steamapp/base.html" %}
{% block content %}

<div id="sidebar">
  <h2 align="left">
    {% block sidebar %}<ul><li><a href="/steamapp">Home</a></li></ul>{% endblock %}
    <br/>
  </h2>
</div>

<h1>
    Players
    {% if user.is_authenticated %}(<a href="{% url 'steamapp:player_create' %}">add</a>){% endif %}
</h1>

    {% for player in player_list %}
        <p><a href="{% url 'steamapp:player_detail' player.steamid %}">
            {{ player.nickname }}</a></p>
    {% empty %}<li>No players registered yet.</li>
    {% endfor %}

{% endblock %}
