{% extends "steamapp/base.html" %}
{% block content %}
<h1>
    {{ player.nickname }}
</h1>

<h2>Steam id 64 bits</h2>
<p>
    {{ player.steamid }}<br/>
</p>

<h2>Profile url</h2>
<p>
    {{ player.profileurl }}<br/>
</p>

<h2>Privacy</h2>
<p>
    {{ player.privacy }}<br/>
</p>

<h2>Country</h2>
<p>
    {{ player.country }}<br/>
</p>

<h2>Last log (Unix Time)</h2>
<p>
    {{ player.lastlog }} days ago<br/>
</p>

<h2><a href="{% url 'steamapp:ban_detail' player.steamid 'html' %}">
    Ban Status</a></h2>

<h2> Games </h2>

  {% for ownedgame in player.ownedgames.all %}
      <a href="{% url 'steamapp:ownedgame_detail' ownedgame.id 'html' %}">
        {{ ownedgame.gamename }}<br/>
  {% empty %}<p>Either no games owned or private profile.</p>
  {% endfor %}

{% endblock %}
