{% extends "steamapp/base.html" %}
{% block content %}
<h1>
    {{ player.nickname }}
</h1>

<h2>Steam id 64 bits</h2>
<p>
    {{ player.steamid }}<br/>
</p>

<h2>Profile url</h2>
<p>
    {{ player.profileurl }}<br/>
</p>

<h2>Privacy</h2>
<p>
    {{ player.privacy }}<br/>
</p>

<h2>Country</h2>
<p>
    {{ player.country }}<br/>
</p>

<h2>Last log (Unix Time)</h2>
<p>
    {{ player.lastlog }}<br/>
</p>


<h2> Player Games
    {% if user.is_authenticated %}(<a href="{% url 'steamapp:ownedgame_create' %}">add</a>){% endif %}
</h2>

  {% for ownedgame in player.ownedgames.all %}
      <a href="{% url 'steamapp:ownedgame_detail' ownedgame.id %}">
        {{ ownedgame.gamename }}</a><br/>
  {% empty %}<p>Either no games owned or private profile.</p>
  {% endfor %}


<h2> Player Achievements
    {% if user.is_authenticated %}(<a href="{% url 'steamapp:ownedachievement_create' %}">add</a>){% endif %}
</h2>

  {% for ownach in player.ownedachievements.all %}
      <a href="{% url 'steamapp:ownedachievement_detail' ownach.id %}">
          {{ ownach.achid.displayname }}</a><br/>
  {% empty %}<p>This player has not achievement registered</p>
  {% endfor %}


{% endblock %}
